:root {
        --Primary: #1A4359;
        --Seondary: #A7C3C6;
        --Basecolor: #DAE3E0;
        --accent-1: #F5EBEC;
        --accent-2: #E0D1D4 ;
        --CTA: #D4A598;
        --font-poppins: 'Poppins';  
        --font-playfairdisplay: 'Playfair Display';
        }

        body {
            font-family: var(--font-poppins);
            color: black;
            margin: 0;
            padding: 0;
            background-color: white;
        }

        .container {
            max-width: 1280px;
            margin: 0px auto;
            padding: 0 16px; 
        }


        /*  HEADER AND NAVIGATION BAR  */
        .header {
            padding-top: 30px;
        }

        .top-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .top-rightnavicon{
            margin-right: 10px;
            cursor: pointer;
        }
        .search-icon{
            margin-left: 10px;
        }
        .bottom-header {
            background-color: var(--Seondary); 
        }
        .nav-links {
            display: flex;
            justify-content: center;
            gap: 100px;
            padding-bottom: 16px;
            padding-top: 16px;
            overflow-x: auto;
        }

        .nav-links a {
            font-family: var(--font-poppins);
            text-decoration: none;
            color: black;
            font-size: medium;
            transition: color 0.2s;
        }

        .nav-links a:hover {
            color: var(--Primary);
        }


        /* PAGE STYLE */
        .customize-section {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        

        /* PROGRESS BAR */
        .progress-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 0 5%;
            margin-bottom: 70px;
        }

        /* PROGRESS BAR STEPS */
        .progress-bar {
            display: flex;
            justify-content: space-between;
            width: 100vw;
            position: relative;
        }
        
        .progress-bar::before {
            content: '';
            position: absolute;
            width: 920px;
            height: 1px;
            margin-left: 110px;
            background-color: black;
            top: 20%;
            transform: translateY(-50%);
            z-index: -1;
        }

        .step {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%; 
            position: relative;
            font-family: var(--font-poppins);
            font-size: 0.8rem;
            color: black;
            text-align: center;
        }

        .step-dot {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: var(--Basecolor);
            border: none;
            margin-bottom: 10px;
            transition: background-color 0.3s;
        }

        .step.active .step-dot {
            background-color: var(--Primary);
            border-color: var(--Primary);
        }

        .step.active {
            color: var(--Primary);
        }

        /* MAIN SECTION */
        .content-grid {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .delivery-form {
            padding: 30px;
            background-color: var(--accent-1);
            border-radius: 10px;
        }
        
        .form-title {
            font-family: var(--font-playfairdisplay);
            font-size: 1.1rem;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 25px;
        }

        form label {
            display: block;
            margin-bottom: 7px;
            font-size: 0.9rem;
            font-weight: 500;

        }

        form input[type="text"],
        form input[type="email"],
        form input[type="tel"] {
            width: 100%;
            padding: 10px 15px;
            border: 1px solid #666;
            border-radius: 5px;
            background-color: white;
            box-sizing: border-box;
            font-family: var(--font-poppins);
            font-size: 15px;
            color: #333;
            margin-bottom: 7px;

        }
        
        .payment-options-box {
            background-color: var(--accent-1);
            padding: 30px;
            border-radius: 10px;
            margin-top: 20px;
            height: fit-content;
        }

        .payment-options-title {
            font-family: var(--font-playfairdisplay);
            font-size: 1.1rem;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 20px;
        }
        
        .payment-option {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .payment-option input[type="radio"] {
            appearance: none;
            width: 16px;
            height: 16px;
            border: 2px solid #999;
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer;
            position: relative;
            background-color: white;
            transition: border-color 0.2s;
        }

        .payment-option input[type="radio"]:checked {
            border-color: var(--Primary);
            background-color: var(--Primary);
        }

        .payment-info {
            font-size: 14px;
            color: #888;
            margin-top: 15px;
        }

        .total-summary {
            padding: 30px;
            background-color: var(--accent-1);
            border-radius: 10px;
            height: fit-content;
        }
        
        .summary-title {
            font-family: var(--font-playfairdisplay);
            font-size: 1.1rem;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 25px;
        }

        .p{
            display: flex;
            justify-content: space-between;
            margin: 8px 0;
        }

        .total-summary .total{
            display: flex;
            justify-content: space-between;
            margin: 8px 0;
            font-weight: 600;
            font-size: 18px;
        }
        
        .estimated-date {
            text-align: right;
            font-size: 0.8rem;
            color: #888;
            margin-top: 5px;
        }

        .btn-next-step {
            background-color: var(--Primary);
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-family: var(--font-playfairdisplay);
            font-size: 1rem;
            width: 100%;
            transition: background-color 0.2s;
            margin-top: 0px;
        }

        .btn-next-step:hover { background-color: var(--Seondary); }

        .email-confirmation-text {
            text-align: center;
            font-size: 0.8rem;
            color: #888;
            margin-top: 10px;
        }


        /* FOOTER */
        .footer {
            background-color: var(--Basecolor);
            padding: 64px 0;
            margin-top: 64px;
        }
        .footer-nav {
            display: flex;
            justify-content: center;
            gap: 100px;
            font-size: 0.875rem;
            color: var(--Primary);
            margin-bottom: 32px;
            flex-wrap: wrap;
        }

        .footer-nav a {
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
        }
        
        .footer-nav a:hover {
            color: var(--Seondary);
        }

        .footer-logo {
            text-align: center;
            color: var(--Primary);
        }

        .footer-logo p {
            font-size: 0.75rem;
            color: var(--Primary);
            margin-top: 0px;
        }



         /* TABLET VIEW */
    @media (max-width: 992px) {
        .section-title{
            font-size: 22px;
            font-weight: 600;
            margin-top: 10px;
        }

        .customize-subtitle {
            font-size: 12px;
        }

        .progress-bar::before {
        width: 70vw;
        margin-left: 55px;
        top: 13%;
        }

        .progress-bar{
            gap: 12px;
        }
        .step {
            font-size: 12px;
        }
        .content-grid {
            grid-template-columns: 1fr;
            max-width: 700px;
        }

        /* HEADER */
    .top-header {
        justify-content: center;
        align-items: center;
        gap: 150px;
        padding: 0 20px;
    }

    .search-icon{
        width: 50px;
        height: 50px;
    }

    .logoimg {
        width: 300px;
    }

    .top-rightnavicon img {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }

    .nav-links {
        gap: 40px;
        padding: 10px;
        justify-content: center;
    }

    .nav-links a {
        font-size: 14px;
    }


    /* FOOTER */
    .footer-nav{
        width: 100vw;
        gap: 50px;
        margin-bottom: 0px;
    }

    .footer-nav a{
        font-size: 15px;
    }

    .footer-logo img{
        width: 190px;
        margin-bottom: 0px;
    }
    
    .footer-logo p{
        margin-top: 0px;
    }
    }

    /* MOBILE VIEW */
    @media (max-width: 600px) {

    .section-title{
        font-size: 22px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .progress-bar::before {
        width: 70vw;
        margin-left: 30px;
        top: 13%;
    }

    .progress-bar{
        gap: 12px;
    }
    .step {
        font-size: 10px;
    }
    .content-grid {
        grid-template-columns: 1fr;
        max-width: 500px;
    }

        /* HEADER */   
    .top-header {
        justify-content: center;
        align-items: center;
        gap: 25px;
        /* width: 100vw; */
    }

    .search-icon{
        width: 50px;
        height: 50px;
    }

    .logoimg {
        width: 150px;
    }

    .top-rightnavicon img {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }

    .nav-links {
        /* width: 100vw; */
        gap: 15px;
        font-size: 8px;
        padding: 10px;
        justify-content: center;
    }

    .nav-links a {
        font-size: 8px;
    }


    /* FOOTER */
    .footer-nav{
        /* width: 100vw; */
        gap: 15px;
        margin-bottom: 0px;
    }

    .footer-nav a{
        font-size: 8px;
    }

    .footer-logo img{
        width: 190px;
        margin-bottom: 0px;
    }
    
    .footer-logo p{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    }

    @media (min-width: 993px){
        .progress-bar::before {
        width: 70vw;
        margin-left: 82px;
        top: 13%;
        }

    }
