:root {
    --Primary: #1A4359;
    --Seondary: #A7C3C6;
    --Basecolor: #DAE3E0;
    --accent-1: #F5EBEC;
    --accent-2: #E0D1D4 ;
    --CTA: #D4A598;
    --font-poppins: 'Poppins';  
    --font-playfairdisplay: 'Playfair Display';
}

        body {
            font-family: var(--font-poppins);
            color: black;
            margin: 0;
            background-color: white;
        }

        .container {
            max-width: 1280px;
            margin: 0px auto;
        }

        .section-title {
            font-family: var(--font-playfairdisplay);
            font-size: 32px;
            font-weight: 600;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        /* HEADER AND NAVIGATION BAR */
        .header {
            padding-top: 30px;
        }

        .top-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
         .logo{
             width: 507;
             height: 107;
             align-self: center; 
         }
        .top-rightnavicon{
            margin-right: 10px;
            cursor: pointer;
        }
        .bottom-header {
            background-color: var(--Seondary); 
        }
        .nav-links {
            display: flex;
            justify-content: center;
            gap: 100px;
            padding-bottom: 16px;
            padding-top: 16px;
            overflow-x: auto;
        }

        .nav-links a {
            font-family: var(--font-poppins);
            text-decoration: none;
            color: black;
            font-size: medium;
            transition: color 0.2s;
        }

        .nav-links a:hover {
            color: var(--Primary);
        }

        /* --- SHOP BY CATEGORY BARS --- */
        .category-header {
            font-family: var(--font-playfairdisplay);
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .box-groups {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 40px;
        }
        
        .box-row {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .box-btn {
            background-color: var(--Seondary);
            color: black;
            font-family: var(--font-poppins);
            border: none;
            padding: 12px 70px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.2s;
        }

        .box-btn:hover {
            background-color: var(--Basecolor);
        }

        .box-btn.active {
            background-color: var(--Basecolor);
        }

        /* ALL PRODUCTS */
        .products-header {
            position: relative;
            align-items: center;
            margin-bottom: 20px;
        }


        .image{
            width: 100%;
            aspect-ratio: 1 / 1; 
            object-fit: cover;
            border-radius: 10px;
            box-shadow: none;
            margin-bottom: 12px;
        }

        .products-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        
        .product-box {
            text-decoration: none;
        }

        .product-image{
            width: 100%;
            aspect-ratio: 280 / 330; 
            object-fit: cover;
            border-radius: 8px;
            box-shadow: none; 
            margin-bottom: 5px;
        }

        .product-details {
            display: flex;
            justify-content: space-between;
            color: black;
        }

        .product-name{
            margin: 0;
            font-size: 0.875rem;
        }
        
        .price {
            font-size: 0.9rem;
            margin: 5px;
            color: black;
        }

        .icon-bag {
            cursor: pointer;
            width: 20px;
            height: 20px;
        }

        /* FOOTER */
        .footer {
            background-color: var(--Basecolor);
            padding: 64px 0;
            margin-top: 64px;
        }

        .footer-nav {
            display: flex;
            justify-content: center;
            gap: 100px;
            font-size: 0.875rem;
            color: var(--Primary);
            margin-bottom: 32px;
            flex-wrap: wrap;
        }

        .footer-nav a {
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
        }
        
        .footer-nav a:hover {
            color: var(--accent-2);
        }

        .footer-logo {
            text-align: center;
            color: var(--Primary);
        }

        .footer-logo p {
            font-size: 0.75rem;
            color: var(--Primary);
            margin-top: 0px;
        }


        /* PAGINATION */
        .pagination {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 60px;
            margin-bottom: 60px;
        }

        .page-number {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-family: var(--font-poppins);
            text-decoration: none;
            background-color: #1A4359;
            color: white;
            border: none;
            transition: all 0.2s;
        }

        .page-number.active {
            background-color: var(--Seondary);
            color: black;
        
        }
        
        .page-number:hover:not(.active) {
            background-color: var(--Seondary);
        }

        /* --- RESPONSIVENESS (Media Queries) --- */
        @media (min-width: 640px) {
            .logo {
                font-size: 2.5rem;
            }
            .collections-grid {
                grid-template-columns: repeat(3, 1fr);
            }
            .products-grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (min-width: 1024px) {
            .hero-content h2 {
                font-size: 4rem;
            }
            .products-grid {
                grid-template-columns: repeat(4, 1fr);
            }
        }