:root {
    --Primary: #1A4359;
    --Seondary: #A7C3C6;
    --Basecolor: #DAE3E0;
    --accent-1: #F5EBEC;
    --accent-2: #E0D1D4 ;
    --CTA: #D4A598;
    --font-poppins: 'Poppins';  
    --font-playfairdisplay: 'Playfair Display';
}

        body {
            font-family: var(--font-poppins);
            color: black;
            margin: 0;
            background-color: white;
        }

        .container {
            max-width: 1280px;
            margin: 0px auto;
        }

        .section-title {
            font-family: var(--font-playfairdisplay);
            font-size: 32px;
            font-weight: 600;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        /* HEADER AND NAVIGATION BAR */
        .header {
            padding-top: 30px;
        }

        .top-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .top-rightnavicon{
            margin-right: 10px;
            cursor: pointer;
        }
        .search-icon{
            margin-left: 10px;
        }
        .bottom-header {
            background-color: var(--Seondary); 
        }
        .nav-links {
            display: flex;
            justify-content: center;
            gap: 100px;
            padding-bottom: 16px;
            padding-top: 16px;
            overflow-x: auto;
        }

        .nav-links a {
            font-family: var(--font-poppins);
            text-decoration: none;
            color: black;
            font-size: medium;
            transition: color 0.2s;
        }

        .nav-links a:hover {
            color: var(--Primary);
        }

        /* --- SHOP BY CATEGORY BARS --- */

        .box-groups {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            margin-bottom: 40px;
        }
        
        .box-row {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .box-btn {
            background-color: var(--Seondary);
            color: black;
            font-family: var(--font-poppins);
            border: none;
            padding: 12px 70px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.2s;
        }

        .box-btn:hover {
            background-color: var(--Basecolor);
        }

        .box-btn.active {
            background-color: var(--Basecolor);
        }

        /* ALL PRODUCTS */
        .products-header {
            position: relative;
            align-items: center;
            margin-bottom: 20px;
        }


        .image{
            width: 100%;
            /* aspect-ratio: 1 / 1;  */
            object-fit: cover;
            border-radius: 10px;
            box-shadow: none;
            margin-bottom: 12px;
        }

        .products-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }
        
        .product-box {
            text-decoration: none;
        }

        .product-image{
            width: 100%;
            aspect-ratio: 280 / 330; 
            object-fit: cover;
            border-radius: 8px;
            box-shadow: none; 
            margin-bottom: 5px;
        }

        .product-details {
            display: flex;
            justify-content: space-between;
            color: black;
        }

        .product-name{
            margin: 0;
            font-size: 0.875rem;
        }
        
        .price {
            font-size: 0.9rem;
            margin: 5px;
            color: black;
        }

        .icon-bag {
            cursor: pointer;
            width: 20px;
            height: 20px;
        }

        /* FOOTER */
        .footer {
            background-color: var(--Basecolor);
            padding: 64px 0;
            margin-top: 64px;
        }

        .footer-nav {
            display: flex;
            justify-content: center;
            gap: 100px;
            font-size: 14px;
            color: var(--Primary);
            margin-bottom: 32px;
            flex-wrap: wrap;
        }

        .footer-nav a {
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
        }
        
        .footer-nav a:hover {
            color: var(--Seondary);
        }

        .footer-logo {
            text-align: center;
        }

        .footer-logo p {
            font-size: 13px;
            color: var(--Primary);
            margin-top: 0px;
        }


        /* PAGINATION */
        .pagination {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 60px;
            margin-bottom: 60px;
        }

        .page-number {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-family: var(--font-poppins);
            text-decoration: none;
            background-color: #1A4359;
            color: white;
            border: none;
            transition: all 0.2s;
        }

        .page-number.active {
            background-color: var(--Seondary);
            color: black;
        
        }
        
        .page-number:hover:not(.active) {
            background-color: var(--Seondary);
        }

        /* RESPONSIVENESS */

            /* TABLET VIEW */
    @media (max-width: 992px) {

    .products-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-left: 5px;
        margin-right: 5px;
        /* width: 100vw; */
    }
    .box-row {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
   
        /* HEADER */
    .top-header {
        justify-content: center;
        align-items: center;
        gap: 150px;
        /* width: 100vw; */
        padding: 0 20px;
    }

    .search-icon{
        width: 50px;
        height: 50px;
    }

    .logoimg {
        width: 300px;
    }

    .top-rightnavicon img {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }

    .nav-links {
        flex-wrap: wrap;
        /* width: 100vw; */
        gap: 40px;
        padding: 10px;
        justify-content: center;
    }

    .nav-links a {
        font-size: 14px;
    }


    /* FOOTER */
    .footer-nav{
        width: 100vw;
        gap: 50px;
        margin-bottom: 0px;
    }

    .footer-nav a{
        font-size: 15px;
    }

    .footer-logo img{
        width: 190px;
        margin-bottom: 0px;
    }
    
    .footer-logo p{
        margin-top: 0px;
    }
    }

    /* MOBILE VIEW */
    @media (max-width: 600px) {

    .section-title{
        font-size: 22px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        margin-left: 2px;
        margin-right: 2px;
        /* width: 100vw; */
    }

    .box-row {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        gap: 10px;
    }
    
    .box-btn {
        padding: 5px 20px;
        border-radius: 7px;
        font-size: 12px;
        }


        /* HEADER */   
    .top-header {
        justify-content: center;
        align-items: center;
        gap: 25px;
        /* width: 100vw; */
    }


    .search-icon{
        width: 50px;
        height: 50px;
    }

    .logoimg {
        width: 150px;
    }

    .top-rightnavicon img {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }

    .nav-links {
        flex-wrap: wrap;
        /* width: 100vw; */
        gap: 15px;
        font-size: 8px;
        padding: 10px;
        justify-content: center;
    }

    .nav-links a {
        font-size: 8px;
    }


    /* FOOTER */
    .footer-nav{
        /* width: 100vw; */
        gap: 15px;
        margin-bottom: 0px;
    }

    .footer-nav a{
        font-size: 8px;
    }

    .footer-logo img{
        width: 190px;
        margin-bottom: 0px;
    }
    
    .footer-logo p{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    }