* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body{
    font-family: 'Poppins' ;
    background-color:white;
    margin: 0;
    padding: 0;
    color:black;
}

.container{
   max-width: 1280px;
    margin: 0px auto;
    padding:0 auto;
}
.header {
            padding-top: 30px;
        }

        .header-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
         .logo{
             width: 507;
             height: 107;
             align-self: center; 
         }
        .top-rightnavicon{
            margin-right: 10px;
            cursor: pointer;
        }
        .header-bottom {
            background-color: #A7C3C6; 
        }
        .nav-links {
            display: flex;
            justify-content: center;
            gap: 100px;
            padding-bottom: 16px;
            padding-top: 16px;
            overflow-x: auto;
        }

        .nav-links a {
            font-family: 'Poppins';
            text-decoration: none;
            color: black;
            font-size: medium;
            transition: color 0.2s;
        }

        .nav-links a:hover {
            color:#1A4359;
        }

        main{
            width: 85%;
            margin: 0 auto;
            text-align: center;
        }

        


.customize-section{
    text-align: center;
    margin: 60px auto 100px;
    padding: 20px;
}

.progress{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 40px 0;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle{
    width: 25px ;
    height: 25px;
    border-radius:50% ;
    background-color:#C6D3D2 ;
}

.circle.active{
    background-color:  #1A4359;
}

.step p{
    margin-top: 8px;
    font-family: 'Poppins';
    font-size: 14px;
    color:black;
}

.line{
    width:70px ;
    height: 2px;
    background-color: #C6D3D2 ;
}

.section-title{
    font-family: 'Playfair Display';
    font-size: 32px;
    color:#1A4359;
    margin-bottom: 20px;
}

.content p{
    font-size: 16px;
    color: #444;
    margin-bottom: 30px;
}

.btn-cont-shop{
    background-color: #1A4359;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.btn-cont-shop:hover{
    background-color: #A7C3C6;
    color: #1A4359;
}

.footer {
  background-color: #DAE3E0;
  padding: 64px 0;
  margin-top: 64px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 100px;
  font-size: 0.875rem;
  color: #1A4359;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.footer-nav a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.footer-logo {
  text-align: center;
  color: #1A4359;
}

.footer-logo p {
  font-size: 0.75rem;
  color: #1A4359;
  margin-top: 0px;
}

        